.personal_info{
    width: 100%;
}

.personal_info h1{
    margin-left: 0;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    color: var(--primary-color);
}

.personal_info_wrapper{
    padding: 2.5rem 2.5rem 0 4rem;
    border-radius: 8px;
    border: solid 1px #eee;
    width: 100%;
    margin-bottom: 5rem;
}

.personal_info_forms{
    display: flex;
    width: 100%;
    margin-bottom: 36px;
    position: relative;
    overflow: hidden;
}

.psychal_form{
    width: 50%;
    position: relative;
}

.psychal_form h2{
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.psychal_form form{
    display: flex;
    flex-direction: column;
}

.psychal_form form label{
    font-size: 1.5rem;
    line-height: 1.125rem;
    margin-bottom: .8rem;
    color: rgb(102, 102, 102);
    font-family: Arial;
}

.psychal_form form h2{
    color: rgb(234, 1, 15);
    font-size: 1.2rem;
    font-family: Arial;
    font-weight: lighter;
    margin-block: -2rem 2.3rem;
}

.psychal_form h5{
    font-size: 1.2rem;
    font-family: Arial;
    font-weight: lighter;
    margin-block: -2rem 2.3rem;
}

/* ======== RESPONSIVE ======== */
@media (max-width: 768px) {
    .psychal_form{
        width: 100%;
    }
}