.password{
    width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.password .input_password{
    width: 100%;
    outline: none;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(153, 153, 153);
    border-radius: .8rem;
    height: 4.8rem;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 2.3rem;
}

.password .show_password{
    position: absolute;
    font-size: 3.6rem;
    color: rgb(51, 51, 51);
    right: 0rem;
    top: .5rem;
    cursor: pointer;
}

.label{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.125rem;
    color: rgb(102, 102, 102);
    font-family: Arial;
}