.header{
    display: flex;
    background: var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32rem;
    height: 8rem;
    width: 100%;
}

.logo{
    margin-right: 6.5rem;
}

.logo img{
    width: 11rem;
    cursor: pointer;
}

.search{
    position: relative;
}

.search form{
    display: flex;
    align-items: center;
}


.search form input{
    border: none;
    border-radius: 5rem;
    width: 63.5rem;
    height: 100%;
    font-size: 1.5rem;
    padding-block: 1rem;
    padding-inline: 2rem 6rem;
    outline: none;
}

.form_group{
    position: relative;
}

.form_group span{
    position: absolute;
    left: 2rem;
    top: 1.1rem;
    font-size: 1.5rem;
    opacity: .5;
    transition: 0.5s;
    pointer-events: none;
}

.form_group input:focus ~ span,
.form_group input:valid ~ span{
   transform: translateY(-3rem); 
   font-size: 1.4rem;
   color: #fff;
   opacity: 1;
}

.search form .icon_search{
    border-left: 1px solid rgb(204, 202, 202);
    position: absolute;
    right: 0;
}

.search form button{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: .35rem;
    padding-inline: 1rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    cursor: pointer;
    border: none;
    background: transparent;
}

.user{
    display: flex;
    gap: 3rem;
    margin-left: 8rem;
}

.icon{
    font-size: 3.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.icon span{
    font-size: 1.6rem;
    font-style: normal;
    margin-left: .5rem;
}

.icon_cart{
    position: relative;
}

.icon_cart p{
    font-style: normal;
    font-size: 1.5rem;
    position: absolute;
    right: -1rem;
    top: -1rem;
    background: #0252ff;
    border-radius: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.login{
    position: relative;
}

.submenu{
    background: #f8f8f8;
    width: 20rem;
    height: fit-content;
    z-index: 1000;
    position: absolute;
    text-align: center;
    padding-inline: 2rem;
    padding-block: 2rem;
    border: 1px solid #000;
    border-radius: 1rem;
    flex-direction: column;
    display: none;
}

.submenu p{
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(102, 102, 102);
}

.submenu li{
    margin-top: 1.5rem;
}

.submenu li button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
    background: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
    padding-inline: .6rem;
    padding-block: .6rem;
    cursor: pointer;
    border-radius: .8rem;
    transition: .2s;
}

.submenu li button:hover{
    background: #fff;
    color: var(--primary-color);
    font-weight: bold;
}

.login:hover > ul{
    display: block;
}


/* ========= RESPONSIVE ================== */
@media (max-width: 1440px) {
    .header{
        padding-inline: 5rem;
        justify-content: space-between;
    }
}

@media (max-width: 1024px) {
    .header{
        padding-inline: 3rem;
    }

    .logo h1{
        font-size: 2rem;
    }

    .search form input{
        width: 43.5rem;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .header{
        padding-inline: 3rem;
    }

    .logo h1{
        font-size: 2rem;
    }

    .search form input{
        width: 43.5rem;
        height: 100%;
    }

    .submenu{
        width: 15rem;
    }
    
    .submenu li button{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .header{
        padding-inline: 2rem;
    }

    .logo h1{
        font-size: 1.4rem;
    }

    .search form input{
        width: 30rem;
    }
}

@media (max-width: 425px) {
    .header{
        height: 100%;
        flex-direction: column;
        row-gap: 2rem;
    }

    .logo{
        margin: 0 auto;
    }

    .logo h1{
        font-size: 2.5rem;
    }

    .user{
        gap: 8rem;
    }

    .search form input{
        width: 30rem;
    }

    .user{
        margin-left: 0;
    }

    .submenu{
        width: 25rem;
    }
    
    .submenu li button{
        font-size: 1.5rem;
    }
}

@media (max-width: 375px){
    .submenu{
        width: 21rem;
    }
}