.header{
    display: flex;
    background: var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32rem;
    height: 8rem;
    width: 100%;
}

.header .logo h1{
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.contacts_details{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.contacts{
    display: flex;
    align-items: center;
    color: #fff;
    column-gap: 1rem;
}

.contacts i{
    font-size: 2.8rem;
    display: flex;
    align-items: center;
}

.contacts p{
    font-size: 1.6rem;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 400;
}

/* =========== ORDER DETAILS =============== */
.container{
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    background-color: transparent;
    width: 100%;
    margin-top: 4rem;
}

.order_details{
    display: flex;
    column-gap: 4rem;
}

.wrapper{
    flex-basis: 0;
    flex-grow: 1;
}

.details_container{
    border-right: 1px solid #b4b2b2;
    padding-right: 2.5rem;
}

.title_icon{
    color: rgb(51, 51, 51);
    font-size: 1.75rem;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 600;
    margin: 0px 0px 16px;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.title_icon i{
    font-size: 2.3rem;
}

.title_icon span{
    display: flex;
    align-items: center;
}

.details h3{
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    font-size: 1.75rem;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 600;
    margin: 0px 0px 16px;
}

.user_address{
    color: rgb(51, 51, 51);
    line-height: 26px;
    margin: 0px;
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "Open Sans", arial, sans-serif;
}

.user_address p:not(:nth-child(1)){
    text-transform: uppercase;
}

.user_address .street{
    text-transform: capitalize;
}

.change_address{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #cfcfcf;
}

.change_address button{
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #124983;
    font-weight: bold;
}

.change_address button i{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.change_title::first-letter{
    text-transform: capitalize;
}

.freight{
    margin-top: 3rem;
}

.freight_title{
    color: rgb(51, 51, 51);
    font-size: 1.75rem;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 600;
    margin: 0px 0px 16px;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.freight_title i{
    font-size: 2.3rem;
    display: flex;
    align-items: center;
}

.freight_options form{
    margin-top: 2rem;
}

.freight_options form label{
    color: rgb(33, 33, 33);
    font-size: 1.4rem;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 600;
}

.freight_options form div:nth-child(2){
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.freight_options form div{
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freight_options form div:last-child{
    display: block !important;
}

.freight_options form div:last-child p{
    color: rgb(114, 114, 114);
    line-height: 1.5;
    margin: 0px;
    font-size: 1.4rem;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 400;
}

.order_list{
    border: 1px solid rgb(189, 189, 189);
    margin-block: 2.5rem 4rem;
    padding: 2rem;
    padding-bottom: 0;
}

.order{
    display: flex;
    margin-bottom: 3rem;
}

.order_img{
    width: 120px;
    height: 120px;
    background: #eee;
    margin-right: 2rem;
}

.order_img img{
    width: 120px;
    height: 120px;
}

.item_information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_details{
    display: flex;
    justify-content: space-between;
}

.item_name_size{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 1rem;
}

.name h3{
    color: rgb(33, 33, 33);
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 22.5px;
}

.size p{
    color: rgb(114, 114, 114);
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 400;
}

.item_price{
    text-align: right;
    width: 13rem;
}

.item_price p{
    color: rgb(33, 33, 33);
    font-size: 1.6rem;
    font-weight: 700;
    pointer-events: none;
}

.item_price .old_price{
    color: rgb(182, 182, 182);
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: line-through;
}

.item_price .new_price{
    color: rgb(226, 26, 46);
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: .5rem;    
}

.item_quantity p{
    color: rgb(114, 114, 114);
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 400;
}

/* ============= PAYMENT ================== */
.payment_options > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
}

.options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.label_payment_option{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.75rem;
    margin-left: 1rem;
}

.label_payment_option i{
    font-size: 2.3rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.label_payment_option span{
    display: flex;
    align-items: center;
}

.pix{
    display: flex;
}

.pix > div:last-child{
    background: rgb(67, 160, 71);
    border-radius: 3px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
}

.pix > div:last-child p{
    line-height: 1.5;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
}

.payment_information{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 10rem;
}

.payment_information div > div:first-child{
    width: 3.5rem;
    height: 2rem;
    background: #cfcfcf;
    margin-right: 2rem;
    margin-bottom: 3rem;
}

.payment_information input{
    border: none;
    border-bottom: 2px solid #cfcfcf;
    font-size: 1.5rem;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 1rem;
    outline: none;
    margin-bottom: 3rem;
}

.payment_information div{
    display: flex;
    width: 100%;
    columns: 2rem;
    align-items: center;
}

.payment_information div:last-child{
    display: flex;
    column-gap: 2rem;
}

.payment_information div:last-child input:last-child{
    width: 30%;
}

.option_pix,
.payment_slip{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.option_pix h3,
.payment_slip h3{
    color: rgb(51, 51, 51);
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0px 0px 16px;
    width: 100%;
}

.option_pix p,
.payment_slip p{
    line-height: 1.5;
    margin: 0px;
    font-size: 1.4rem;
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin-top: 8px;
    width: 100%;
}

.option_pix p:nth-child(3){
    color: rgb(67, 160, 71);
    font-weight: 700;
}

.total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.total span:first-child{
    color: rgb(114, 114, 114);
    font-size: 1.7rem;
    font-weight: 400;
}

.total span:last-child{
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    pointer-events: none;
    color: rgb(33, 33, 33);
    font-size: 1.7rem;
    font-weight: 700;
}

.payment button{
    background: rgb(226, 115, 51);
    border: 2px solid transparent;
    border-radius: 4px;
    width: 100%;
    min-height: 48px;
    opacity: 1;
    padding: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: .3s;
}

.payment button:hover{
    background: rgb(206, 101, 41);
}

/* =============== RESPONSIVE ===================== */

@media (max-width: 1440px) {
    .header{
        padding-inline: 7rem;
    }
}

@media (max-width: 1024px) {
    .payment_options > div{
        margin-right: 0;
    }

    .options{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 3rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px){
    .header{
        padding-inline: 3.5rem;
    }

    .pix > div:last-child{
        background-color: rgb(67, 160, 71);
        border-radius: 3px;
        padding: 1px 5px;
        display: flex;
        align-items: center;
    }
    
    .pix > div:last-child p{
        line-height: 1;
        font-size: 1.25rem;
        color: rgb(255, 255, 255);
        font-weight: 500;
        text-align: center;
    }

    .label_payment_option{
        font-size: 1.4rem;
    }

    .payment_information div:last-child{
        display: flex;
        flex-direction: column;
    }
    
    .payment_information div:last-child input:last-child{
        width: 100%;
    }
}

@media (max-width: 425px) {
    .header{
        padding-inline: 1rem;
    }
    
    .header .logo h1{
        font-size: 1.5rem;
    }
    
    .contacts_details{
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
    }

    .contacts{
        column-gap: .5rem;
    }
    
    .contacts i{
        font-size: 1.4rem;
    }
    
    .contacts p{
        font-size: 1.1rem;
    }

    .details_container{
        border: none;
        padding-right: 0;
    }

    .order_details{
        display: flex;
        flex-direction: column;
    }

    .freight{
        margin-top: 1.3rem;
    }
    
    .freight_title{
        font-size: 1.45rem;
    }
    
    .freight_title i{
        font-size: 2.1rem;
    }
    
    .freight_options form{
        margin-top: 1.5rem;
    }
    
    .freight_options form label{
        font-size: 1.35rem;
    }
    
    .freight_options form div{
        padding-block: 1.6rem;
    }
    
    .freight_options form div:last-child p{
        font-size: 1.3rem;
    }
    
    .order_img img{
        width: 100px;
    }    

    .name h3{
        font-size: 1.2rem;
        line-height: 15.5px;
    }

    .size p{
        line-height: 1;
        font-size: 1.2rem;
    }
    
    .item_price p{
        font-size: 1.3rem;
    }
    
    .item_price .new_price{
        font-size: 1.5rem;  
    }

    .item_quantity p{
        line-height: 1;
        font-size: 1.2rem;
    }

    .payment button{
        margin-bottom: 5rem;
    }
}

@media (max-width: 375px) {
    .order{
        margin-top: 2rem;
    }

    .order_list{
        border: 1px solid rgb(189, 189, 189);
        margin-block: 2.5rem 4rem;
        padding: 0rem;
        padding-bottom: 0;
    }
}